$base-font-size: 12pt;
$base-line-height: 12pt;
$brand-color: #0077BA;
$black-color: #141414;
$body-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$head-fonts: times, "Times New Roman", "times-roman", georgia, serif;
