@import "compass";
@import "_constants";
/** Reset **/
@import "compass/reset";

/** Styles **/
@include establish-baseline;
body {
	color:  $black-color;
	font-family:  $body-fonts;
	font-size: $base-font-size;
}
a {
	@include link-colors(#0077BA, #0099CC, #0077BA, #0077BA, #0077BA);
	text-decoration: inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-family:  $head-fonts;
	font-weight: bold;
}
h1 {
	@include adjust-font-size-to(35pt);
}

h2 {
	@include adjust-font-size-to(30pt);
}

h3 {
	@include adjust-font-size-to(25pt);
}

h4 {
	@include adjust-font-size-to(22pt);
}

h5 {
	@include adjust-font-size-to(18pt);
}

h6 {
	@include adjust-font-size-to(16pt);
}
.clearfix {
	@include clearfix;
}