@import "compass";
@import "_constants";
/** Reset **/
@import "compass/reset";

/** Styles **/
body {
	color:  $black-color;
	font-family:  $body-fonts;
}
a {
	@include link-colors(#0077BA, #0099CC, #0077BA, #0077BA, #0077BA);
	text-decoration: inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-family:  $head-fonts;
	font-weight: bold;
}
h1 {
	font-size: 35pt;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 25pt;
}

h4 {
	font-size: 22pt;
}

h5 {
	font-size: 18pt;
}

h6 {
	font-size: 16pt;
}
