/** Reset **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/** Styles **/
* html { font-size: 100.0%; }

html { font-size: 12pt; line-height: 1em; }

body { color: #141414; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12pt; }

a { color: #0077ba; text-decoration: inherit; }
a:visited { color: #0077ba; }
a:focus { color: #0077ba; }
a:hover { color: #0099cc; }
a:active { color: #0077ba; }

h1, h2, h3, h4, h5, h6 { font-family: times, "Times New Roman", "times-roman", georgia, serif; font-weight: bold; }

h1 { font-size: 2.91667em; line-height: 1.37143em; }

h2 { font-size: 2.5em; line-height: 1.2em; }

h3 { font-size: 2.08333em; line-height: 1.44em; }

h4 { font-size: 1.83333em; line-height: 1.63636em; }

h5 { font-size: 1.5em; line-height: 1.33333em; }

h6 { font-size: 1.33333em; line-height: 1.5em; }

.clearfix { overflow: hidden; *zoom: 1; }
